/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/568/403/original/mountain-night-sky-landscape-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h4{
    color: white;
    font-family: sans-serif, serif;
}

